@(id: Long, form: Form[Contact])
@import b3.inline.fieldConstructor
@layout{

<div class="col-md-6">

    <h2>Update Contact</h2>

    @b3.form(routes.OrderController.update(id)) {
    @b3.text( form("name"), '_label -> "Name", 'placeholder -> "Name" )
    @b3.email( form("address"), '_label -> "Address", 'placeholder -> "example@mail.com" )
    @b3.submit('class -> "btn btn-default"){ Update Contact }
    }

    </div>


}