@(contacts:List[models.Contact], form: Form[models.Contact])
@import b3.inline.fieldConstructor

@layout{
<div class="col-md-6">
<h2>New Contact</h2>


<!--@helper.form(action = routes.OrderController.create){-->

<!--@helper.inputText(form("name"))-->
<!--@helper.inputText(form("address"))-->

<!--<input type="submit" value="New Contanct" />-->


@b3.form(routes.OrderController.create) {
@b3.text( form("name"), '_label -> "Name", 'placeholder -> "Name" )
@b3.email( form("address"), '_label -> "Address", 'placeholder -> "example@mail.com" )
@b3.submit('class -> "btn btn-default"){ New Contact }
}



@if(contacts.isEmpty()){

<h2>There is no list to display </h2>

}else{

<table>
   <thead>
   <tr>

      <th>Name</th>
      <th>Email Address</th>
      <th></th>

   </tr>

   </thead>
   <tbody>

   @for(name <- contacts){

   <tr>
      <td>@name.getName()</td>

      <td>@name.getAddress()</td>
      <th>
       <a href='@routes.OrderController.edit(name.getId())'>Edit</a>

      </th>
   </tr>

   }
   </tbody>
</table>
}
}
   }
   </div>